In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Analysis database

In [3]:
Data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/train.csv')
Data.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
288,289,1,2,"Hosono, Mr. Masabumi",male,42.0,0,0,237798,13.0000,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
560,561,0,3,"Morrow, Mr. Thomas Rowan",male,NaN,0,0,372622,7.7500,NaN,Q
676,677,0,3,"Sawyer, Mr. Frederick Charles",male,24.5,0,0,342826,8.0500,NaN,S

In [4]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
Data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
Data.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [7]:
Data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

процент выживаемости у каждого класса пассажиров (Pclass)

In [8]:
#измеряется в %
Data.groupby("Pclass")["Survived"].sum()*100/Data["Survived"].sum()

Pclass
1    39.766082
2    25.438596
3    34.795322
Name: Survived, dtype: float64

самое популярное мужское и самое популярное женское имя на корабле

In [9]:
print('a popular male name: ',
      Data[Data['Sex'] == 'male']['Name'].describe()['top']
)

a popular male name:  Braund, Mr. Owen Harris

In [10]:
print('a popular female name: ',
      Data[Data['Sex'] == 'female']['Name'].describe()['top']
)

a popular female name:  Cumings, Mrs. John Bradley (Florence Briggs Thayer)

самое популярное мужское и самое популярное женское имя на корабле в каждом классе

In [11]:
Data.groupby(['Sex', "Pclass"])["Name"].describe()['top']

Sex     Pclass
female  1         Cumings, Mrs. John Bradley (Florence Briggs Th...
        2                       Nasser, Mrs. Nicholas (Adele Achem)
        3                                    Heikkinen, Miss. Laina
male    1                                   McCarthy, Mr. Timothy J
        2                              Williams, Mr. Charles Eugene
        3                                   Braund, Mr. Owen Harris
Name: top, dtype: object

часть таблицы с пассажирами, возраст которых больше 44 лет

In [12]:
Data[Data['Age'] > 44]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
...,...,...,...,...,...,...,...,...,...,...,...,...
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

часть таблицы с пассажирами, возраст которых меньше 44 лет и которые мужского пола

In [13]:
Data[(Data['Age'] < 44) & (Data['Sex'] == 'male')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,NaN,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.050,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.275,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.500,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

количества n-местных кабин (в которых было 2, 3, 4, ... человека)

In [ ]:
#считаем кол-во уникальных кабин в DF - столько людей в каждой кабине
Data_2 = Data['Cabin'].value_counts().to_frame()
print('4 человека в кабинах: ', Data_2[Data_2['count'] == 4].index.tolist(), '\n',
      '3 человека в кабинах: ', Data_2[Data_2['count'] == 3].index.tolist(), '\n',
      '2 человека в кабинах: ', Data_2[Data_2['count'] == 2].index.tolist()
)

4 человека в кабинах:  ['B96 B98', 'G6', 'C23 C25 C27']
 3 человека в кабинах:  ['C22 C26', 'F33', 'F2', 'E101', 'D']
 2 человека в кабинах:  ['C78', 'C93', 'E8', 'D36', 'B77', 'C123', 'E121', 'E44', 'D35', 'C125', 'E67', 'B35', 'B18', 'E24', 'B49', 'C65', 'B20', 'B5', 'B57 B59 B63 B66', 'C126', 'B51 B53 B55', 'F4', 'C124', 'F G73', 'B58 B60', 'C52', 'D33', 'C68', 'D20', 'D26', 'B28', 'C83', 'E25', 'D17', 'B22', 'C92', 'C2', 'E33']

In [25]:
# Подсчет количества мест в кабинках
cabin_counts = Data['Cabin'].str.split(' ', expand=True).count(axis=1)
cabin_distribution = cabin_counts.value_counts()
for n, count in cabin_distribution.items():
    print(f"кол-во мест в кабине -{n} - кол-во человек -{count}")

кол-во мест в кабине -0 - кол-во человек -687
кол-во мест в кабине -1 - кол-во человек -180
кол-во мест в кабине -2 - кол-во человек -16
кол-во мест в кабине -3 - кол-во человек -6
кол-во мест в кабине -4 - кол-во человек -2